---
import SkillCard from "./SkillCard.astro";

const skills = await Astro.glob('../skills/*.md')
---

<section id="acerca">
    <h2>Sobre mi</h2>
    <div>
        <figure>
            <img 
                src="https://st2.depositphotos.com/3078691/8709/i/450/depositphotos_87097204-stock-photo-happy-smiling-older-man.jpg" 
                alt="Alberto Fernandez Aranda"
                >
        </figure>
    </div>
    <section class="content-cards">
        {
            skills.map(({frontmatter}) => 
                <SkillCard 
                    body={frontmatter.body}
                    href={frontmatter.href}    
                    img={frontmatter.img}
                    title={frontmatter.title}
                /> 
            )
        }
    </section>
</section>

<style>
    h2 {
        font-family: serif;
        font-size: 3rem;
        text-align: center;
        text-decoration: underline;
    }

    div {
        display: flex;
        justify-content: center;
    }

    img {
        width: 25rem;
    }

    .content-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

</style>